@import url(https://fonts.googleapis.com/css?family=Lato:400,700,300);


body{
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	padding-top: 60px;
	background-color: #F5F5F5;
	background-image: url("../img/bg.png");
}


/*** login ***/

body.body-login{
	margin-top: 80px;
}

.login-form{
	background-color: #f7f7f7;
    padding: 24px 23px 20px;
    position: relative;
    border-radius: 6px;
    margin-bottom: 20px;
}

/*** login end ***/


/*** panel ***/

.panel-title{
	font-size: 18px;
}

.panel-body .list-group {margin-bottom: 0;}

/*** ***/


/*** radios - checkboxes ***/

.checkbox,.radio{
	position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 0;
}
.radio label,
.checkbox label{
	padding-left: 20px;
}

/*** ***/


/*** hr ***/

hr.hr-divider{
	border-width: 2px;
	border-color: #D1D1D1;
}

/*** ***/


/*** tables ***/

ul.list-group>li.list-group-item:nth-of-type(even) {
	background-color: #F5F5F5;
}

/*** ***/


/*** text danger ***/

.text-center.help-block.text-danger,
.help-block.text-danger{
	color: #da4453;	
}

/*** ***/


/*** title campaign encuesta ***/

.titulo-campaign-encuesta h3,
.titulo-campaign-encuesta h1{
	margin: 0;
}

.titulo-campaign-encuesta h3{
	margin-top: 40px;
}

.titulo-campaign-encuesta h1{
	margin-bottom: 20px;
}

/*** ***/


/*** input group ***/
.input-group-addon{
	background-color: #eee;
	color: #555;
}
/*** ***/


/*** responsive ***/

@media(max-width: 767px){
	.page-header{
		font-size: 32px;
	}
}


/*** ***/