/*** responsive ***/

@media(max-width: 767px){
	
	.page-header{
		font-size: 32px;
	}

	.table-responsive{
		font-size: 11px;
	}

	/*** botones de resultados ***/

	.btns-resultados{
		margin: 10px 0 0;
	}

	/*** ***/

}


@media (min-width: 768px) and (max-width: 991px){

	.table-responsive{
		font-size: 13px;
	}

}

/*** ***/